# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml

# To Be Deleted
/ets-geotiff11/src/main/resources/org/opengis/cite/geotiff11/sch/gml-3.2.1.sch
/ets-geotiff11/src/main/resources/org/opengis/cite/geotiff11/schema-catalog.xml
/ets-geotiff11/src/main/resources/org/opengis/cite/geotiff11/schematron-catalog.xml
/ets-geotiff11/src/main/resources/org/opengis/cite/geotiff11/xsd/iso/*
/ets-geotiff11/src/test/resources/capabilities-simple.xml

# Eclipse

/.metadata/*