<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="geotiff11-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.geotiff11.TestRunListener" />
    <listener class-name="org.opengis.cite.geotiff11.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.geotiff11.TestFailureListener" />
  </listeners>

  <test name="Conformance">
    <packages>
      <package name="org.opengis.cite.geotiff11.tiffTests" />
    </packages>
    <classes>
      <class name="org.opengis.cite.geotiff11.SuitePreconditions" />
    </classes>
  </test>
  <!-- Add test sets for other conformance classes/levels -->
</suite>
